@-moz-document regexp("(https?:\\/\\/\\w*-?\\w+\\.sdamgia\\.ru\\/.*)") {
:root {
    --main-bg-color:              #232323;
    --main-text-color:            #D4D4D4;
    --scroll-bar-color:           #303030;
    --link-color:                 #6798E0;
    --link-color-hov:             #EDA15C;
    --input-bg-color:             #454545;
    --input-border-color:         #2A54D0;
    --input-broder-color-focus:   #35A65F;
    --subjects-text-color:        #D7D7D7;
    --subjects-bg-color-from:     #06026C;
    --subjects-bg-color-to:       #393939;
    --subjects-bg-color-hov-from: #007916;
    --subjects-bg-color-hov-to:   #3C3C3C;
    --header-text-color:          #94AFCA;
    --header-main-text-color:     #E8E8E8;
    --variant-bg-color:           #454545;
    --variant-border-color:       #666;
    --variant-bg-color-vis:       #513B5E;
    --variant-border-color-vis:   #8F00AF;
    --variant-bg-color-hov:       #967448;
    --variant-border-color-hov:   #CD9E61;
    --button-bg-color:            #454545;
    --button-border-color:        #666666;
    --button-bg-hov-color:        #967448;
    --button-border-hov-color:    #CD9E61;
    --button-bg-act-color:        #967448;
    --button-border-act-color:    #CD9E61;
    --help-button-bg-color:       #656565;
    --gen-box-top-color:          #373636;
    --gen-box-bottom-color:       #868686;
    --sidebar-bg-color:           #4a4a4a;
    --sidebar-news-text-color:    #CDA567;
    --sidebar-student-color:      #FFAD65;
    --sidebar-student-hov-color:  #FF9130;
    --sidebar-lmenu-trans-time:      0.6s;
    --sidebar-lmenu-x-translate:     20px;
    --tasks-bg-color-even:        #393939;
    --tasks-bg-color-odd:         #2C2E46;
    --search-bg-color:            #4A4A4A;
    --search-ph-color:            #BCBCBC;
    --search-border-color:        #646464;
    --chat-icon-bg-color:         #6B6B6B;
    --chat-icon-border-color:     #AEAEAE;
    --chat-bg-color:              #474747;
    --chat-head-bg-color:         #318D42;
    --chat-head-border-color:     #2DCF4B;
    --share-text-color:           #67B2E0;
    --comment-bg-color:           #3C4C5F;
    --comment-answ-bg-color:      #333854;
    --stat-half-color:            #FFFF3B;
    --stat-wrong-color:           #FF4040E8;
    --stat-right-color:           #4CFF4CE6;
    --stats-bg-color:             #3D3D3D;
    --stats-bg-hov-color:         #494949;
    --stats-gr-text-color:        #FFF;
    --stats-minor-grid-color:     #7E7E7E;
    --stats-axis-color:           #EAEAEA;
    --stats-graph-color:          #0B61A4;
    --stats-clbtn-shadow-color:   #DADADA;
    --res-bg-color:               #2F2F2F;
    --res-common-val-color:       #D8D8D8;
    --res-wrong-val-color:        #E97E80;
    --res-right-val-color:        #94CE9C;
    --res-halg-val-color:         #ECB973;
    --res-no-load-val-color:      #BEBAFE;
    --ui-title-bg-color:          #989898;
    --ui-title-border-color:      #A8A8A8;
    /*Code*/
    --symbol-color:       #A0A0A0;
    --strange-word-color: #55B1E4;
    --number-color:       #AF5AE6;
    --type-color:         #55D4B3;
    --keyword-color:      #CA3737;
    --function-color:     #CE670A;
    --predproc-color:     #838383;
    --string-color:       #30CD52;
    --bracket-color:      #FFD700;
}
}

@-moz-document regexp("(https?:\\/\\/\\w*-?\\w+\\.sdamgia\\.ru\\/.*)") {
.adsbygoogle, div[id*="yandex_rtb"], #tah2sRCBEWbO7mAtTC7vYWgNM_X_yaaRXw, #tah2sRCBEWbO7mAtTC7vYWgNM_X_yaaRWw, #tah2sRCBEWbO7mAtTC7vYWgNM_X_yaaRWg {
    display: none !important;
}

*::-webkit-scrollbar {
    width: 15px !important;
    height: 10px !important;
    background:  var(--main-bg-color) !important;
    border-left: 1px solid var(--scroll-bar-color) !important;
}

*::-webkit-scrollbar-thumb {
    min-height: 28px !important;
    border-radius: 10px;
    background: var(--scroll-bar-color) !important;
    border-left: 1px solid var(--scroll-bar-color) !important;
}

body {
    background-color: var(--main-bg-color) !important;
    background-image: none !important;
}

body, div, td 
{ color: var(--main-text-color); }

img[src*="/img/headers/logo.svg"] {
    background-color: var(--main-bg-color);
}
/*
.header_subj_logo {
    border-radius: 20px;
    filter: brightness(0.8);
}
*/
a[href="https://sdamgia.ru"] {
    background: -webkit-linear-gradient(#FDB304, #F67815);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: var(--main-text-color) !important;
}

a {
    color: var(--link-color) !important;
    transition: all 0.2s;
}

a:hover 
{ color: var(--link-color-hov) !important; }


/*Vk link*/
a[href="https://vk.com/reshuege"] {
    color: #343436 !important;
    transition: all 1s;
}

a[href="https://vk.com/reshuege"]:hover {
    background-color: #5B92D0 !important;
    transform: scale(1.05);
}

/*makes trnasperent images visible*/
img { background-color: white; }

/*makes black formulas visible*/
img[src*="formula"] {
    background-color: transparent;
    filter: invert(1);
}

.prob_list .prob_num 
{ border-color: var(--main-text-colo); }

.test_inp { border: 1px solid var(--input-border-color); }

input[type="text"], input[type="password"], textarea, .test_inp {
    background-color: var(--input-bg-color);
    border-color: var(--input-border-color);
    color: var(--main-text-color);
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .test_inp:focus {
    /*background-color: #27394C;*/
    outline: none;
    border-width: 1.1px;
    border-color: var(--input-broder-color-focus);
}

.new_header {
    color: var(--header-text-color) !important;
    border-color: var(--header-text-color) !important;
}

.new_header span, .new_header div {
    color: var(--header-main-text-color) !important;
    border-color: var(--header-main-text-color) !important;
    
}

.zebra tr:hover 
{ background-color: #4A4A4A; }

.zebra tr a 
{ color: var(--main-text-color); }

th {
    color: var(--header-text-color);
    background-color: #343436;
}

.cat_header {
    background: #343436;
    color: var(--main-text-color);
}

.cat_children .cat_category:nth-child(even) 
{ background-color: var(--tasks-bg-color-even) }

.cat_children .cat_category:nth-child(odd) 
{ background-color: var(--tasks-bg-color-odd) }




.login, .menu {
    background-color: var(--sidebar-bg-color);
    border-radius: 10px;
}

a .menu_l { transition: var(--sidebar-lmenu-trans-time);  }

a .menu_l:hover { transform: translateX(var(--sidebar-lmenu-x-translate));  }

a[href="/"] .menu_l 
{ color: var(--sidebar-student-color); }

a[href="/"] .menu_l:hover
{ color: var(--sidebar-student-hov-color); }


.login>noindex>.news p a 
{ color: var(--link-color); }

.login>noindex>.news p
{ color: var(--main-text-color); }

.news b 
{ color: var(--sidebar-news-text-color); }

.prob_selector_top 
{ background-color: var(--gen-box-top-color); }

.prob_selector_bottom 
{ background-color: var(--gen-box-bottom-color); }

.prob_selector_bottom input[type="text"]:focus 
{ border-width: 1px; }

.pbody th, .pbody td, .solution td, .solution th 
{ border-color: #999; }

audio {
    height: 20px;
    filter: invert(0.7)
}

input[name="search"]::placeholder 
{ color: var(--search-ph-color); }

input[name="search"] {
    background-color: var(--search-bg-color);
    border: 1px solid var(--search-border-color);
    color: var(--main-text-color);
    padding-left: 5px;
    height: 12px;
    border-radius: 3px;
}

form[action="/search"] span img, img[src="/img/door-open-in.png"], img[src="/img/briefcase--plus.png"] 
{ background-color: transparent; }

.share .share_ph 
{ color: var(--share-text-color); }

div[id*="commentsanswer"] {
    padding-left: 5px;
    background-color: var(--comment-answ-bg-color);
    border-radius: 10px;
}

div[id*="comments"] div[style*="margin-top:10px;padding:2px"] {
    padding-left: 5px !important;
    background-color: var(--comment-bg-color) !important;
    border-radius: 10px;
}

.nobreak {
    color: var(--main-text-color);
}

#guestbook td[style*="background-color:#fff2ce;"]{
    background-color: var(--comment-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}

#guestbook td[style*="background-color:#eaeaff;"] {
    background-color: var(--comment-answ-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}

form input[name="id"] {
    background-color: var(--input-bg-color) !important;
    border: 1px solid var(--input-border-color) !important;
    color: var(--main-text-color) !important;
    margin-right: 10px;
    height: 20px;
    border-radius: 5px;
    padding: 2px;
}

form input[name="id"]:focus {
    /*background-color: #27394C;*/
    outline: none;
    border-width: 1.1px;
    border-color: var(--input-broder-color-focus) !important;
}

.ui-dialog {
    background-color: var(--main-bg-color);
}

.ui-dialog .ui-dialog-titlebar {
    background: var(--ui-title-bg-color);
    border-color: var(--ui-title-border-color);
}

.ui-dialog .ui-dialog-titlebar button {
    background: var(--button-bg-color);
    border-color: var(--button-border-color);
}

.ui-dialog .ui-dialog-titlebar button:hover, .ui-dialog .ui-dialog-titlebar button:focus {
    outline: none;
    background: var(--button-bg-hov-color);
    border-color: var(--button-border-hov-color);
}
}

@-moz-document regexp("(https?:\\/\\/\\w*-?\\w+\\.sdamgia\\.ru\\/.*)") {
/*Informatics code*/
pre.sh_sourceCode {
    background-color: transparent;
    color: var(--main-text-color);
}

pre.sh_sourceCode .sh_symbol { color: var(--symbol-color); }

pre.sh_sourceCode .sh_basic_strange_words { color: var(--strange-word-color); }

pre.sh_sourceCode .sh_number { color: var(--number-color); }

pre.sh_sourceCode .sh_type { color: var(--type-color); }

pre.sh_sourceCode .sh_keyword, pre.sh_sourceCode .sh_alg_keyword { color: var(--keyword-color); }

pre.sh_sourceCode .sh_function { color: var(--function-color); }

pre.sh_sourceCode .sh_preproc { color: var(--predproc-color); }

pre.sh_sourceCode .sh_string { color: var(--string-color); }

pre.sh_sourceCode .sh_cbracket { color: var(--bracket-color); }
}

@-moz-document regexp("(https?:\\/\\/\\w*-?\\w+\\.sdamgia\\.ru\\/.*)") {
/*Chat*/
div[onclick="notifications.show_chat()"] {
    background-color: var(--chat-icon-bg-color) !important;
    border-color: var(--chat-icon-border-color) !important;
    color: var(--main-text-color) !important;   
    transition: 1s;
}

div[onclick="notifications.show_chat()"]:hover {
    border-color: #63FF80 !important;
}

div [style="background-color: white; position: fixed; left: 10px; bottom: 35px; width: 300px; height: 400px; border: 1px solid grey; border-radius: 5px; z-index: 11; display: none;"], div[style="background-color: white; position: fixed; left: 10px; bottom: 35px; width: 300px; height: 400px; border: 1px solid grey; border-radius: 5px; z-index: 11; display: block;"], div[style="position:absolute; top:30px; left:0px; right:0px; bottom:5px; overflow-y:auto; overflow-x:visible"], div[style*="background-color: white; position: fixed; left: 10px; bottom: 35px; width: 300px; height: 400px;"] {
    background-color: var(--chat-bg-color) !important;
}

div[style="background-color:#FFF1BA; font-weight:bold; padding:10px; border-bottom:1px solid #FFD119; border-radius:5px 5px 0 0; margin:0"] {
    background-color: var(--chat-head-bg-color) !important;
    border-color: var(--chat-head-border-color) !important;
} 

div[style="margin:0;padding:0; bottom:10px; right:10px; position:fixed; border:none; z-index:11"] {
    display: none;
}
}

@-moz-document regexp("(https?:\\/\\/\\w*-?\\w+\\.sdamgia\\.ru\\/.*)") {
/*Statistic*/
img[src*="cross.png"] {
    background-color: transparent;    
}

.stat_probres a {
    color: var(--main-bg-color) !important;
}

.stat_prob_res {
    border-color: transparent;
    background-color: var(--stat-half-color);
}

.stat_prob_wrong {
    background-color: var(--stat-wrong-color);
}

.stat_prob_right {
    background-color: var(--stat-right-color);
}

.stats-table td, .stats-container td, .stats-container th {
    color: var(--main-text-color);
    background-color: var(--stats-bg-color);
}

.stats-table td[style*="background: rgb(255, 255, 255);"], .stats-container td[style*="background: rgb(255, 255, 255);"], .stats-container th {
    color: var(--main-text-color) !important;
    background-color: var(--stats-bg-color) !important;
}

.stats-table td[style*="background: rgb(238, 238, 238);"], .stats-container td[style*="background: rgb(238, 238, 238);"] {
    background-color: var(--stats-bg-hov-color) !important;
    color: var(--main-text-color) !important;
}

.line-chart-body svg {
    fill: var(--stats-gr-text-color);
}

.line-chart-body svg line {
   stroke: var(--stats-minor-grid-color);
}

.line-chart-body svg polyline[stroke-width="1"] {
    stroke: var(--stats-axis-color);
}

.line-chart-body svg polyline[stroke-width="2"] {
    stroke: var(--stats-graph-color);
}

.line-chart-body svg ellipse {
    fill: var(--stats-graph-color);
}

.line-chart-buttons.button.button-shadow-blue.close-linechart {
    background-color: transparent;
    border-radius: 10px;
}

.line-chart-buttons.button.button-shadow-blue.close-linechart:hover {
    box-shadow: 0 0 5px var(--stats-clbtn-shadow-color) !important;
}


/*Results*/

center table tr {
    background-color: var(--res-bg-color);
}

center table tr td {
    margin: 10px !important;
    background-color: var(--res-bg-color) !important;
    border-top: 2px solid var(--res-common-val-color);
    border-radius: 0px 0px 5px 5px !important;
}

center table tr[style*="#ffc0c0"] td, center table td[style*="#ffc0c0"], span[style*="#ffc0c0"] {
    border-top: 2px solid var(--res-wrong-val-color) !important;
}

center table tr[style*="#c0ffc0"] td, table td[style*="#c0ffc0"], span[style*="#c0ffc0"] {
    border-top: 2px solid var(--res-right-val-color) !important;
}

center table tr[style*="#ffffc0"] td, center table td[style*="#ffffc0"], span[style*="#ffffc0"] {
    border-top: 2px solid var(--res-halg-val-color) !important;
}

center table tr[style*="#c0ffff"] td, center table td[style*="#c0ffff"], span[style*="#c0ffff"] {
    border-top: 2px solid var(--res-no-load-val-color);
}

table tr[style*="#ffc0c0"], table tr[style*="#c0ffc0"], table tr[style*="#ffffc0"], table tr[style*="#c0ffff"], span[style*="#ffc0c0"], span[style*="#c0ffc0"], span[style*="#ffffc0"], span[style*="#c0ffff"] {
    background: transparent !important;
}
}

@-moz-document regexp("(https?:\\/\\/\\w*-?\\w+\\.sdamgia\\.ru\\/.*)") {
/*Buttons*/
/*Common:*/
input[type="button"], input[type="submit"], .autoc_btn {
    background: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    color: var(--main-text-color);
    transition: 0s;
}

input[type="button"]:hover, input[type="submit"]:hover, .autoc_btn:hover,
input[type="button"]:focus, input[type="submit"]:focus, .autoc_btn:focus {
    background: var(--button-bg-hov-color) !important;
    border-color: var(--button-border-hov-color);
}

input[type="button"]:active, input[type="submit"]:active, .autoc_btn:active {
    background: var(--button-bg-act-color) !important;
    border-color: var(--button-border-act-color);
}

div[title="Помощь"] {
    color: var(--main-text-color) !important;
    background: var(--help-button-bg-color) !important;
}

/*Variant:*/
span.our_test a, span.our_test a span.wide_only {
    color: var(--main-text-color) !important;
    background-color: var(--variant-bg-color);
    border-color: var(--variant-border-color);
    transition: all 0.2s;
    user-select: none;
}

span.our_test a:visited, span.our_test a:visited span.wide_only {
    background-color: var(--variant-bg-color-vis);
    border-color: var(--variant-border-color-vis);
}

span.our_test a:hover, span.our_test a:hover span.wide_only {
    background-color: var(--variant-bg-color-hov);
    border-color: var(--variant-border-color-hov);
    transition: all 0.2s;
}

/*Subjects:*/
.pred, .pred, .pred_v, .pred_v, .pred_0, .pred_no {
    color: var(--subjects-text-color);
    background: -webkit-linear-gradient(bottom, var(--subjects-bg-color-from), var(--subjects-bg-color-to));
}

.pred:hover, .pred_v:hover, .pred_0:hover, .pred_no:hover {
    color: var(--subjects-text-color);
    background: -webkit-linear-gradient(bottom, var(--subjects-bg-color-hov-from), var(--subjects-bg-color-hov-to));
}
}